body {
  background-color: #9DE8FA
}

.jumbotron {
  background-color: #42d4f4;
}

input[type=text] {
    width: 220px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 33%;
}

input {
  margin: 5px;
}

#content {
  text-align: center;
}

p {
  font-weight: bold;
  font-size: 18px;
  margin: 1%;
}
